
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            background-image: url(https://s20.postimg.org/qx4twk96l/Background_FINAL.png);
            background-repeat: no-repeat;
            overflow: scroll;
            /*width: 960px;*/
            height:800px;
            width:1300px;
        }
        .jan
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background: transparent;
         margin-left: 34px;
         margin-top: 170px;
        }
        .feb
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background: transparent;
         margin-left: 20px;
         margin-top: 170px;
        }
        .mar
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left: 20px;
         margin-top: 170px;
        }
        .apr
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left:33px;
         margin-top: 5px;
        }
        .may
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left:20px;
         margin-top: 5px;
        }
        .jun
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left:19px;
         margin-top: 5px;
        }
        .jul
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left:33px;
         margin-top: 5px;
        }
        .aug
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left:20px;
         margin-top: 5px;
        }
        .sep
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left:19px;
         margin-top: 5px;
        }
        .oct
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left:33px;
         margin-top: 5px;
        }
        .nov
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left:20px;
         margin-top: 5px;
        }
        .dec
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-left:19px;
         margin-top: 5px;
        }
    </style>
</head>
<body>
    <a href="/CRAZeCards/SelectCard?Month=January"><input class="jan" type="button"></a>
    <a href="/CRAZeCards/SelectCard?Month=February"><input class="feb" type="button"></a>
    <a href="/CRAZeCards/SelectCard?Month=March"><input class="mar" type="button"></a>
    <br>
    <a href="/CRAZeCards/SelectCard?Month=April"><input class="apr" type="button"></a>
    <a href="/CRAZeCards/SelectCard?Month=May"><input class="may" type="button"></a>
    <a href="/CRAZeCards/SelectCard?Month=June"><input class="jun" type="button"></a>
    <br>
    <a href="/CRAZeCards/SelectCard?Month=July"><input class="jul" type="button"></a>
    <a href="/CRAZeCards/SelectCard?Month=August"><input class="aug" type="button"></a>
    <a href="/CRAZeCards/SelectCard?Month=September"><input class="sep" type="button"></a>
    <br>
    <a href="/CRAZeCards/SelectCard?Month=October"><input class="oct" type="button"></a>
    <a href="/CRAZeCards/SelectCard?Month=November"><input class="nov" type="button"></a>
    <a href="/CRAZeCards/SelectCard?Month=December"><input class="dec" type="button"></a>
</body>
</html>