
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            background-image: url(https://s12.postimg.org/5g921eo0t/CRAZe_Background.png);
            background-repeat: no-repeat;
            overflow: scroll;
            /*width: 960px;*/
            height:1200px;
            width:1920px;
        }
        .jan
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background: transparent;
         margin-left: 34px;
         margin-top: 170px;
        }
        .feb
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background: transparent;
         margin-left: 20px;
         margin-top: 170px;
        }
        .mar
        {
         padding: 65px;
         padding-left: 320px;
         border: none;
         background-color:transparent;
         margin-right: 20px;
         margin-top: 170px;
        }
    </style>
</head>
<body>
    <a href="/CRAZeCards/SelectCard?Month=January"><input class="jan" type="button"></a>
    <a href="/CRAZeCards/SelectCard?Month=February"><input class="feb" type="button"></a> &nbsp;
    <a href="/CRAZeCards/SelectCard?Month=March"><input class="mar" type="button"></a>
</body>
</html>























@*<input class="mar" type="button" value="march">
    <input class="apr" type="button" value="april">
    <input class="may" type="button" value="may">
    <input class="jun" type="button" value="june">
    <input class="jul" type="button" value="july">
    <input class="aug" type="button" value="august">
    <input class="sep" type="button" value="september">
    <input class="oct" type="button" value="october">
    <input class="nov" type="button" value="november">
    <input class="dec" type="button" value="december">*@
