
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="C:\Users\Ashu\Documents\Visual Studio 2015\Projects\CRAZeCards\CRAZeCards\Content\reset.css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            background-image: url(https://s12.postimg.org/5g921eo0t/CRAZe_Background.png);
            background-repeat: no-repeat;
            overflow: scroll;
            width: 960px;
        }
        .jan
        {
         padding: 65px;
         padding-left: 276px;
         border: none;
         background: transparent;
         margin-left: 34px;
         margin-top: 170px;
        }
    </style>
</head>
<body>
    <input class="jan" type="button" value="january">
</body>
</html>
