
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageSent</title>
</head>
<body>
    <div> Your card is on it's way
    </div>
</body>
</html>
