@model CRAZeCards.HOLIDAY
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="google-site-verification" content="GJm0Cx1Wj912iNbwDC_Bqrc4HqfWXRdVwI7GnSf53yE" />
    <meta name="viewport" content="width=device-width" />
    <title>MessageSent</title>
    <style>
        body{
            background-image: url(http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background.jpg);
            background-size: 100%;
            
        }
        .button {
   cursor: pointer;
   margin: 5px;
   width: 200px;
   padding: 10px;
   color: #fff;
   text-align: center;
   border: 1px solid hsl(0, 0%, 0%);
   text-shadow: 1px 1px 0px hsl(0, 0%, 12%);

   -webkit-box-shadow: inset 0px 1px 0px hsl(0, 0%, 40%), inset 0px -10px 20px hsl(0, 0%, 22%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   -moz-box-shadow: inset 0px 1px 0px hsl(0, 0%, 40%), inset 0px -10px 20px hsl(0, 0%, 22%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   box-shadow: inset 0px 1px 0px hsl(0, 0%, 40%), inset 0px -10px 20px hsl(0, 0%, 22%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   background: hsl(0, 0%, 27%);

   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.button:hover {
   -webkit-box-shadow: inset 0px 1px 0px hsl(0, 0%, 53%), inset 0px -10px 20px hsl(0, 0%, 35%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   -moz-box-shadow: inset 0px 1px 0px hsl(0, 0%, 53%), inset 0px -10px 20px hsl(0, 0%, 35%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   box-shadow: inset 0px 1px 0px hsl(0, 0%, 53%), inset 0px -10px 20px hsl(0, 0%, 35%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   background: hsl(0, 0%, 40%);
}

.button:active {
   -webkit-box-shadow: inset 0px 1px 0px hsl(0, 0%, 30%), inset 0px -10px 20px hsl(0, 0%, 19%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   -moz-box-shadow: inset 0px 1px 0px hsl(0, 0%, 30%), inset 0px -10px 20px hsl(0, 0%, 19%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   box-shadow: inset 0px 1px 0px hsl(0, 0%, 30%), inset 0px -10px 20px hsl(0, 0%, 19%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   background: hsl(0, 0%, 25%);
}
.homepage {
   cursor: pointer;
   margin: 5px;
   width: 200px;
   padding: 10px;
   color: #fff;
   text-align: center;
   border: 1px solid hsl(0, 0%, 0%);
   text-shadow: 1px 1px 0px hsl(0, 0%, 12%);

   -webkit-box-shadow: inset 0px 1px 0px hsl(0, 0%, 40%), inset 0px -10px 20px hsl(0, 0%, 22%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   -moz-box-shadow: inset 0px 1px 0px hsl(0, 0%, 40%), inset 0px -10px 20px hsl(0, 0%, 22%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   box-shadow: inset 0px 1px 0px hsl(0, 0%, 40%), inset 0px -10px 20px hsl(0, 0%, 22%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   background: hsl(0, 0%, 27%);

   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.homepage:hover {
   -webkit-box-shadow: inset 0px 1px 0px hsl(0, 0%, 53%), inset 0px -10px 20px hsl(0, 0%, 35%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   -moz-box-shadow: inset 0px 1px 0px hsl(0, 0%, 53%), inset 0px -10px 20px hsl(0, 0%, 35%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   box-shadow: inset 0px 1px 0px hsl(0, 0%, 53%), inset 0px -10px 20px hsl(0, 0%, 35%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   background: hsl(0, 0%, 40%);
}

.homepage:active {
   -webkit-box-shadow: inset 0px 1px 0px hsl(0, 0%, 30%), inset 0px -10px 20px hsl(0, 0%, 19%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   -moz-box-shadow: inset 0px 1px 0px hsl(0, 0%, 30%), inset 0px -10px 20px hsl(0, 0%, 19%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   box-shadow: inset 0px 1px 0px hsl(0, 0%, 30%), inset 0px -10px 20px hsl(0, 0%, 19%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
   background: hsl(0, 0%, 25%);
}
    </style>
</head>
<body>
    <div> 
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <center><font size="5" face="Permanent Marker">Your card is on it's way.</font><br>
            <a href="/CRAZeCards/SelectCard?Month=@Model.Holiday_Month"><input type="button" class="button" value="Send Another Card" /></a>
                <a href="/CRAZeCards/Index"><input type="button" class="homepage" value="Pick A Different Month" /></a>

</center>

    </div>
</body>
</html>
