
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MessageSent</title>
    <style>
        body{
            background-image: url(http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background.jpg);
            background-size: 100%;
            
        }
    </style>
</head>
<body>
    <div> 
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <center><font size="5" face="Permanent Marker">Your card is on it's way.</center>
    </div>
</body>
</html>
