@model CRAZeCards.Month

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectCard</title>
    <style>
        body {
            background-image: url();
            background-repeat: no-repeat;
            overflow: scroll;
            /*width: 960px;*/
            height:800px;
            width:1300px;
        }
    </style>
</head>
<body>
    <div>
        <center>
            <ul style="list-style: none;">
                @foreach (HOLIDAY holiday in Model.Holidays)
            {
                    <li><h1>@Html.ActionLink(@holiday.Holiday_Name, "SendCard", new { holidayId = holiday.Holiday_Id, imgUrl = holiday.Holiday_View })</h1></li>
                }
            </ul>
        </center>
    </div>
</body>
</html>
