@model CRAZeCards.HOLIDAY

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendCard</title>
    <style>
        body {
            background-image: url(http://osu.ppy.sh/images/tournament/default.png);
            background-repeat: no-repeat;
            background-size: 100%;
            height: 700px;
            width: 1300px;
        }

        .messagebox
        {
            background-color: white;
            width: 200px;
            height: 200px;
            overflow: scroll;
            display: block;
            border: none;
            border-radius: 20px;
            padding: 5px 8px;
            color: #333;
            box-shadow: inset 0 2px 0 rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, 0.1);

        }
        #hideView
        {
            display:none;
        }
        /*#hideId
        {
            display:none;
        }*/
        .name
        {
    display: block;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    color: #333;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, 0.1);
}
        .subject
        {
    display: block;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    color: #333;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, 0.1);
}
        .receiver
        {
    display: block;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    color: #333;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, 0.1);
}
        #locator{position: absolute; visibility: visible; left: 700px; top: 120px; height: 100px; width: 150px; z-index: 200; }
        #formx{position: absolute; visibility: visible; left: 350px; top: 100px; height: 100px; width: 400px; z-index: 200; }
    </style>
</head>
<body>
        @using (Html.BeginForm())
        {
            <p id="formx">
                <font color="white" size="5">Send your CRAZeCard!</font><br><br><input name="yourname" type="text" placeholder="Your Name" class="name" /><br>
                <br><input name="subject" type="text" placeholder="Subject" class="subject" /><br>
                <br><input name="toemail" type="text" placeholder="Receiver's Email'" class="receiver" /><br>
                <br><textarea class="messagebox" name="message" placeholder="Type a message to go with your card!"></textarea>
                <br>
                <input type="submit" value="Send Card" id="sendbutton" />
            </p>
            <input type="url" name="hiddenView" value="@Model.Holiday_View" id="hideView" />
            <input type="text" name="hiddenId" value="@Model.Holiday_Id" id="hideId" />

        }
            <div id="locator"><img src="@Model.Holiday_View" class="eCard" /></div> 
</body>
</html>
