@model CRAZeCards.HOLIDAY

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendCard</title>
</head>
<body>
    <div> 
        @Model.Holiday_View
    </div>
</body>
</html>
