@model CRAZeCards.HOLIDAY

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendCard</title>
</head>
<body>
        @using (Html.BeginForm())
        {
            <p>Your Name: <input name="yourname" type="text"/></p>
            <p>Subject: <input name="subject" type="text"/></p>
            <p>Receiver's Email: <input name="toemail" type="text"/></p>
            <input type="submit" value="Send Card" />
        } 
    <div>
        <img src="@Model.Holiday_View" />
    </div>
</body>
</html>
