@model CRAZeCards.HOLIDAY

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendCard</title>
    <style>
        #locator { position: absolute; visibility: visible; left: 200px; top: 10px; height: 100px; width: 150px; z-index: 200; } 

        div.messagebox
        {
            background-color: white;
            width: 500px;
            height: 500px;
            overflow: scroll;
        }
        #hideID
        {
            display:none;
        }

    </style>
</head>
<body>
            <div id="locator"><img src="@Model.Holiday_View" class="eCard" /></div>

        @using (Html.BeginForm())
        {
            <p>Your Name:<br><input name="yourname" type="text"/></p>
            <p>Subject:<br><input name="subject" type="text"/></p>
            <p>Receiver's Email:<br><input name="toemail" type="text" /></p>
            <p>Message:<br><input name="message" type="text" class="messagebox"/></p>
            <input type="url" name="hiddenView" value="@Model.Holiday_View" id="hideID"/>
            <input type="submit" value="Send Card" />
        } 
</body>
</html>
