@model CRAZeCards.HOLIDAY

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendCard</title>
</head>
<body>
    <div>
        @Model.Holiday_Name
<<<<<<< HEAD
        <img src="@Model.Holiday_View" />
    </div>
        @using (Html.BeginForm())
        {
            <p>  your email </p><input name="toemail" type="text"/>
        <input type="submit" value="Send Card" />}
=======
    </div>
    <div> 
       
        <img src="@Model.Holiday_View" />
    </div>
>>>>>>> origin/master
</body>
</html>
